body {
    background-color: lightgray;
}

#nav_bar {
    display: flex;
    justify-content: space-between;
    background-color: lightsteelblue;
    margin-left: 20px;
    margin-right: 20px;
    border: black 2px solid;
    text-align: center;
}

#sum_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
    border: black 2px solid;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
}

#index_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: lightcoral;
    border: black 2px solid;
    padding: 10px;
}

#footer {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

input{
    margin-bottom: 20px;
}

a {
    font-style: italic;
    color: white;
    padding: 10px;
    +
}

a:hover {
    color: cornflowerblue;
}

