{% extends 'base.html' %}

{% block content %}
<div id="index_container">
    <h1>Welcome to the Buddy Budget</h1>
    <p>This program is designed to track your personal budget. Simply enter your income and expenses as well as their descriptions.</p>

    <form action="/summary" method="post" id="form_container">
        <label for="income">Income</label>
        <input type="text" id="income" name="income">

        <label for="income_desc">Income Description:</label>
        <input type="text" id="income_desc" name="income_desc">

        <label for="expense">Expense</label>
        <input type="text" id="expense" name="expense">

        <label for="expense_desc">Expense Description:</label>
        <input type="text" id="expense_desc" name="expense_desc">

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
}
