<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <div>
            <ul>
            {% for income_details in income_list %}
                <li> {{ income_details }}</li>
                {% endfor %}
            </ul>

            <h1>Summary goes here</h1>
            <h2>Income Description: {{ income_desc }}</h2>
            <h2>Income Amount: {{ income }}</h2>
            <h2>Expense Description: {{ expense_desc }}</h2>
            <h2>Expense Amount: {{ expense }}</h2>
        </div>

    {% endblock %}
</body>
</html>